<h1>Listing sales</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Brand</th>
    <th>Year</th>
    <th>Paid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sales.each do |sale| %>
  <tr>
    <td><%= sale.item_id %></td>
    <td><%= sale.item.brand %></td>
    <td><%= sale.item.year %></td>
    <td><%= sale.paid %></td>
    <td><%= link_to 'Show', sale %></td>
    <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
    <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sale', new_sale_path %>
